* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff; /* Fond blanc */
    height: 100vh;
    font-family: Arial, sans-serif; /* Police par défaut */
}

.base .base-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Texte blanc */
}

.base .base-content .form {
    height: 500px;
    width: 350px; /* Augmentation de la largeur */
    background: rgb(29, 116, 0); /* Fond vert */
    border: 1px solid rgb(29, 116, 0); /* Bordure verte */
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Les éléments enfants sont disposés en colonne */
    justify-content: center; /* Centrage vertical */
    align-items: center; /* Centrage horizontal */
}

.base .base-content .form h3 {
    color: #fff; /* Texte blanc */
    font-family: cursive;
    font-size: 25px; /* Diminution de la taille de la police */
}

.base .base-content .form hr {
    width: 80%; /* Ajustement de la largeur de la ligne */
    margin-top: 30px;
    margin-bottom: 20px; /* Marge en bas ajoutée */
    background-color: #FF723A; /* Ligne orange */
}

#base-signup .base-content .form hr {
    margin-top: 2px;
}

#base-signup .base-content .form input {
    margin-top: 5px;
}

.base .base-content .email,
.base .base-content .password,
.base .base-content .name {
    margin-top: 3px;
    font-size: 18px; /* Diminution de la taille de la police */
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.base .base-content .form input {
    background: none;
    border: none;
    outline: none;
    color: #fff; /* Texte blanc */
    font-size: 15px; /* Diminution de la taille de la police */
}

.base .base-content .form .buttons {
    margin-top: 20px;
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrage horizontal */
}

.base .base-content .form .buttons input,
.base .base-content .form .buttons a {
    font-size: 18px; /* Diminution de la taille de la police */
    font-family: cursive;
    padding: 10px 20px; /* Rembourrage ajusté */
    margin: 0 10px; /* Marge entre les boutons */
    text-decoration: none;
    color: #fff; /* Texte blanc */
    background: #000; /* Fond noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 25px;
    transition: background 0.3s ease; /* Transition sur la couleur de fond */
    cursor: pointer;
    min-width: 150px; /* Largeur minimale des boutons */
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
}

.base .base-content .form .buttons input:hover,
.base .base-content .form .buttons a:hover {
    background: #fff; /* Fond blanc au survol */
    color: #000; /* Texte noir */
}
