<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Liens vers les fichiers CSS et JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
</head>
<body style="background-color: rgb(29, 116, 0);">

    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/images/logo bi.png" alt="" style="width: 80px;height: 50px;">
            </a>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" style="font-family: cursive; font-size: 19px;"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/propos" style="font-size: 17px;">À propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 16px;">Contactez-nous</a>
                    </li>
                </ul>
                <form class="d-flex me-3" role="search" action="/search" method="POST">
                    <input  class="form-control me-2" name="search" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="color: rgb(255, 255, 255); background-color: black; border-color: black;">Rechercher</button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        {% if cart | length < 1 %}
                        <a class="nav-link" href="/cart">Panier <i class="fas fa-shopping-cart"></i></a>
                        {% else %}
                        <a class="nav-link" href="/cart">Panier <i class="fas fa-shopping-cart"></i> <span class="badge bg-success">{{ cart | length }}</span></a>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button", id="profileDropdown" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                            Compte <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            {% if current_user.is_authenticated %}
                            <li><a class="dropdown-item" href="/profile/{{ current_user.id }}"><i class="fas fa-user"></i> Profil</a></li>
                            <li><a class="dropdown-item" href="/orders"><i class="fas fa-shopping-bag"></i> Commandes</a></li>
                            <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- Lien du Panneau Admin -->
                    {% if current_user.is_authenticated and current_user.id in [5, 6] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin_page') }}">
                            <i class="fas fa-cogs"></i> Panneau Admin
                        </a>
                    </li>
                    
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    

    
    
    

    <!-- Messages flash -->
    <div class="container mt-3">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <!-- Contenu principal -->
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <style>
        /* Styles pour le pied de page */
        footer {
            bottom: 0;
            width: 100%;
            background-color: white;
            color: dark;
            padding: 10px 0;
            text-align: center;
        }
    </style>
    
    <footer class="container-fluid text-center py-2 mt-5">
        <div>
            <a href="#" style="color: white;"></a><img src="../static/images/logo bi.png" alt="" style="width: 80px;height: 50px;"> | <span>Leibou-dev 2024 Tous droits réservés</span>
        </div>
    </footer>
    

    <!-- Liens vers les fichiers JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/myScript.js') }}"></script>

</body>
</html>
