{% extends 'forms.html' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<!-- Section de connexion -->
<section class="base">
    <div class="base-content">
        <div class="form">
            <h3>Connectez-vous à votre compte</h3>
            <hr class="first">
            
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email">
                    <h4>Adresse e-mail</h4>
                    {{ form.email(placeholder="Entrez votre adresse e-mail") }}
                </div>
                
                <div class="password">
                    <h4>Mot de passe</h4>
                    {{ form.password(placeholder="Entrez votre mot de passe") }}
                </div>

                <div class="buttons">
                    {{ form.submit(value="Se connecter") }}
                    <a href="/sign-up">Créer un compte</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}