{% extends 'base.html' %}

{% block title %} À propos de nous {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg p-5">
                <h2 class="text-center mb-4">Qui sommes-nous ?</h2>
                <p class="lead text-center">Bienvenue chez LeibouGui Shop ! Nous sommes une équipe passionnée par le commerce en ligne et déterminée à offrir une expérience d'achat exceptionnelle à nos clients.</p>
                <hr class="my-4">
                <h3 class="text-center mb-3">Notre Histoire</h3>
                <p class="text-center">Fondée en 2024, notre entreprise s'est rapidement développée pour devenir l'une des destinations les plus prisées pour les achats en ligne. Notre engagement envers l'innovation, la qualité et le service clientèle a été au cœur de notre succès.</p>
                <h3 class="text-center mb-3">Notre Mission</h3>
                <p class="text-center">Notre mission est de rendre le shopping en ligne facile, sûr et agréable pour nos clients. Nous nous engageons à offrir une sélection de produits de haute qualité, des prix compétitifs et un service client exceptionnel à chaque étape du processus d'achat.</p>
                <h3 class="text-center mb-3">Nos Valeurs</h3>
                <p class="text-center">Chez LeibouGui Shop, nous sommes guidés par des valeurs fondamentales :</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-check"></i> Qualité</li>
                    <li><i class="fas fa-check"></i> Fiabilité</li>
                    <li><i class="fas fa-check"></i> Transparence</li>
                    <li><i class="fas fa-check"></i> Engagement envers la satisfaction client</li>
                </ul>
                <p class="text-center">Nous nous efforçons chaque jour de mériter la confiance de nos clients et de leur offrir une expérience d'achat inoubliable.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
