{% extends 'forms.html' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<!-- Section d'inscription -->
<section class="base">
    <div class="base-content">
        <div class="form">
            <h3>Créez votre compte</h3>
            <hr class="first">
            
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email">
                    <h4>Adresse e-mail</h4>
                    {{ form.email(placeholder="Entrez votre adresse e-mail") }}
                </div>
                
                <div class="name">
                    <h4>Nom d'utilisateur</h4>
                    {{ form.username(placeholder="Choisissez un nom d'utilisateur") }}
                </div>
                
                <div class="password">
                    <h4>Mot de passe</h4>
                    {{ form.password1(placeholder="Créez un mot de passe") }}
                </div>
                
                <div class="password">
                    <h4>Confirmer le mot de passe</h4>
                    {{ form.password2(placeholder="Confirmez votre mot de passe") }}
                </div>

                <div class="buttons">
                    {{ form.submit(value="S'inscrire") }}
                    <a href="/login">J'ai déjà un compte</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}